# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# SQLite database
.radix/
*.db

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db